#navbar {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  
  background-color: black;
  padding-top: 5px;
  padding-bottom: 5px;
  
}
body {
  background-color:white;
}
#posts {
  padding-left: 10px;
}
#title {
  padding-left: 10px;
  padding-right: 10px;
}
a {
  text-decoration: none;
}
#profile {
  padding-right: 10px;

}
h1 {
  text-align: center;
}
.single-post {
  border: 1px solid black;
  margin-bottom: 2px;
}
button {
  background-color:white;
}
.create-post-button, .logout-button {
  width: 100%;
}
